@model IEnumerable<SGK.Models.Belovskayagre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time1970)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Val)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            DateTime datetime = UnixSecondsToDateTime((long)Convert.ToInt64(item.Time1970)).AddHours(7);
            <tr>
            <td>
                @datetime
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Val)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Time1970">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Time1970">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Time1970">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    DateTime UnixSecondsToDateTime(long timestamp, bool local = false)
    {
        var offset = DateTimeOffset.FromUnixTimeSeconds(timestamp);
        return local ? offset.LocalDateTime : offset.UtcDateTime;
    }
}